# Ambientes virtuais
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Arquivos temporários
.DS_Store
Thumbs.db

# Arquivos grandes ou compactados
*.zip
*.rar

# Segurança (NUNCA REMOVA ISSO)
.env

*.xlsx